<%- include('partials/header') %>


<div class="centered">
  <div class="container">
    <img src="images/mind-questions-male-head-brain-vector-illustration-question-marks-silhouette-white-background-112799194-removebg-preview.png" alt="question-mark">
    <h1 class="display-3">My Learning Journey </h1>
    <p class="lead">Register if you are curious to know what certificates I have!</p>
    <hr>

    
    <a class="btn btn-dark btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
