<%- include('partials/header') %>

<div class="centered">
  <div class="container">
    <h1 class="display-3">Here is my certificates!</h1>

      <p class="secret-text">Because I love to learn, every new certificate will be added on this page!</p>

  <div class="row row-certificate">
    <div class="col text-cener"> 
      <img class="img-certificate" src="images/Coursera 95GZWWX6KQLZ1024_1.jpg" alt="">
    </div>
  </div>
  <div class="row row-certificate">
    <div class="col text-cener"> 
    <img class="img-certificate" src="images/Coursera R4B68TD2BKAM-page-001.jpg" alt="">
  </div>
</div>
  <div class="row row-certificate">
    <div class="col text-cener"> 
    <img class="img-certificate" src="images/Coursera U5CGSVAJATRP-page-001.jpg" alt="">
  </div>
</div>
<div class="row row-certificate">
  <div class="col text-cener"> 
  <img class="img-certificate" src="images/Coursera DMGCUTTX95YF1024_1.jpg" alt="">
</div>
</div>
  <div class="row row-certificate">
    <div class="col text-cener"> 
    <img class="img-certificate" src="images/UC-e680febe-1848-441f-a61b-15968afe8cdf-page-001.jpg" alt="">
  </div>
</div>
  </div>
   
    
    <a class="btn btn-dark btn-lg mt-4 mb-5" href="/logout" role="button">Log Out</a>
  
</div>

<%- include('partials/footer') %>
